			body{
    			background-image: url('../Img/backg.png');
				background-size: contain;
				background-repeat: no-repeat;
				overflow: hidden;
			}
			.header {
				

			}
			/* li a {
				display: block;
				width: 60px;
			  } */