			body{
				
				/* background-image: url('../Img/backg.png'); */
				background: url('../Img/backg.png'),linear-gradient(to right, #193ECA 50%, #CF2832 50%);
				background-size: auto 115%;
				background-repeat: no-repeat;
				background-position: center top;
				/* background-color: linear-gradient(to right, red 50%, blue 50%);
				background-color: 200% 100%; 
				background-position:left bottom;
				background-repeat: no-repeat;  */
				
				
				height: 90vh 
			}
		
			#navbarLeft{
				display:flex;
			}
			
			#logo {	
				margin: auto ;
				margin-left: 300px;
				width:170px;
			}
			
			#logo, #upperMenu{margin-right: 45px;}
			#upperMenu, #signUp{margin-right: 150px;}
			#upperMenu, #signIn{margin-right: 50px;}

			#topMenu{
				text-decoration: none;
				font-family: 'Open Sans', sans-serif;
				color:white;
				font-size: 14px;
				/* font-weight: bold; */
			}

			#upperMenu{
				margin-top: 25px;
				word-spacing: 30px;
				text-decoration: none;
			}

			#upperMenu a[selected], a:hover {
				border-bottom: 2px solid #fff;
				color: white;
			}
			#signIn{
				/* width: 100px; */
				margin-right: 0;
				border: none;
				background:none;
  				/* background-color: white; */
 				padding: 14px 28px;
  				font-size: 16px;
				text-align: center;
				/* border-radius: 4px;   */
				text-decoration: none;
				color: white;
				/* float: right; */
				margin-top: 11px;
			}

			#signIn:hover {
				background-color: rgba(255,255,255,0.05);
			}
			
			#signIn:active {
				background-color: rgba(255,255,255,0.1);
			}

			#signUp{
				width: 140px;
  				border: none;
  				background-color: white;
 				padding: 14px 28px;
  				font-size: 16px;
				text-align: center;
				border-radius: 4px;  
				text-decoration: none;
				color: #1C2873;
				/* float: right; */
				margin-top: 11px;
			}
			
			#signUp:hover {
				background-color: rgba(255,255,255,0.9);
			}
			
			#signUp:active {
				background-color: rgba(255,255,255,0.8);
			}
			
			article h1{
				font-size: 4.5em;
				line-height: 1.1em;
				margin-top: 65px;
				margin-left: 300px;
				color: #fff;
				font-family: 'Raleway', sans-serif;
				font-weight: bold;
				margin-bottom:30px;
				/* padding-right: 110px; */
			}
			article p{
				font-size: 1.3em;
				line-height: 1.1em;
				margin-top: 15px;
				padding-right: 112px;
				margin-left:300px;
				color: #fff;
    			font-family: 'Open Sans', sans-serif;
			}
			#createDesign{
				background: #ff5969;
				font-weight: bolder;
				border-radius: 10px;
				border:none;
				padding: 20px 45px 20px 45px;
				color: white;
				margin-left: 300px;
				margin-top: 40px;
			}

			#createDesign:hover {
				background-color: rgba(238,83,98,1);
			}
			
			#createDesign:active {
				background-color: rgba(220,77,91,1);
			}
			footer{
				margin-top: 100px;
				margin-left: 290px;
			}

			footer input[type="radio"]{
				-webkit-appearance: none;
   				-moz-appearance: none;
				appearance: none;
				margin: 11px;
				display: inline-block;
				position: relative;
				background-color: #4677ff;
				color: #4677ff;
				top: 10px;
				height: 13px;
				width: 13px;
				border: 0;
				border-radius: 100%;
				cursor: pointer;     
				
				outline: none;
				/* margin-left: 300px; */
				
			}

			footer input[type="radio"]:checked{
				background-color: #0043ff;
				top: 12.5px;
				height: 20px;
    			width: 20px;
				border: 5px solid #f7bb07;
			}

			